@{ 
    ViewBag.Title = "首页";
}
<h2>欢迎您来到毕业实习学生互评系统</h2>
<p>请在本系统中对本组同学进行评估，评定等级分为：</p>
<p>不及格：无法完成组长安排的任务、没有按时出勤、态度不积极</p>
<p>及格：无法完成组长安排的任务，有缺勤情况，态度一般</p>
<p>中等：完成了部分组长安排的任务，偶尔缺勤，态度较好</p>
<p>良好：任务完成情况较好，保证出勤，积极与组内沟通</p>
<p>优秀：任务完全完成，满勤，能够积极帮助组内其他成员</p>